.home{
    display: flex;
    
}
.cta{
    margin-right: 20px;
}
.cta img{
    width: 500px;
    margin-left: 10px;
    border-radius: 10%;
}
.title {
    font-size: 2.5rem;
    color: var(--color-primary-6);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .title span {
    color: var(--color-primary-3);
  }
  .description {
    font-size: 1.5rem;
    color: var(--color-primary-6);
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .description span {
    color: var(--color-primary-3);
  }
  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .btn_menu {
    display: inline-block;
  }

  @media (max-width: 1200px) {
    .home {
      width: 90vw; 
    }
  }
  
  @media (max-width: 992px) {
    .home {
      width: 90vw; 
    }
  }
  
  @media (max-width: 768px) {
    .home {
      flex-direction: column; 
      align-items: center; 
      width: 100vw; 
      padding: 0 10px; 
    }
  
    #cta, .crs {
      width: 100%; 
      padding: 0; 
    }
  }
  
  @media (max-width: 576px) {
    .home {
      width: 100vw; 
      padding: 0 10px; 
    }
  
    #cta {
      width: 100%; 
      padding: 0; 
    }
  }
  
  @media (max-width: 400px) {
    .home {
      width: 100vw; 
      padding: 0 10px; 
    }
  
    #cta{
      width: 100%; 
      padding: 0; 
    }
  }
    
    @media (max-width: 400px) {
      .home {
        display: none; 
      }
    }
