@import "../../../App.css";

.home {
    display: flex;
    
    padding: 20px 20px; /* Adicionado espaçamento nas laterais */
}

#cta {
    flex: 1; /* Ocupa o espaço restante */
    margin-top: 20px;
    padding-right: 20px; /* Espaçamento à direita */
}

.title {
    font-size: 3.5rem; /* Reduzido o tamanho da fonte */
    color: var(--color-primary-6);
    margin-bottom: 50px; /* Adicionado espaçamento inferior */
    text-align: center;
}

.title span {
    color: var(--color-primary-3);
}

.description {
    font-size: 1.5rem;
    color: var(--color-primary-6);
    line-height: 1.5; /* Espaçamento entre linhas aumentado */
    
}

.description span {
    color: var(--color-primary-3);
}

@media screen and (max-width: 1200px) {
    .carrosel {
        display: none;
    }
}



