.home {
    display: flex;
    flex-direction: row; /* Elementos dispostos lado a lado inicialmente */
    position: relative;
    margin-top: 20px;
    width: 90vw; /* Largura inicial de 90% da viewport */
    max-width: 100vw; /* Garante que a largura não ultrapasse a viewport */
}
  
  #cta {
    flex: 1;
    margin-top: 20px;
    padding-right: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 3.5rem;
    color: var(--color-primary-6);
    margin-bottom: 50px;
    text-align: center;
  }
  
  .title span {
    color: var(--color-primary-3);
  }
  
  .description {
    font-size: 1.5rem;
    color: var(--color-primary-6);
    line-height: 1.5;
    margin-bottom: 40px;
  }
  
  .description span {
    color: var(--color-primary-3);
  }
  
  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .btn_menu {
    display: inline-block;
  }
  
  @media (max-width: 1200px) {
    .home {
      width: 90vw; /* Ajuste de largura para telas menores */
    }
  }
  
  @media (max-width: 992px) {
    .home {
      width: 90vw; /* Ajuste de largura para telas menores */
    }
  }
  
  @media (max-width: 768px) {
    .home {
      flex-direction: column; /* Muda a direção do flex para coluna */
      align-items: center; /* Centraliza os itens */
      width: 100vw; /* Ajuste de largura para telas menores */
      padding: 0 10px; /* Adiciona padding para evitar overflow horizontal */
    }
  
    #cta, .crs {
      width: 100%; /* Garante que cada elemento ocupe 100% da largura da coluna */
      padding: 0; /* Remove qualquer padding lateral */
    }
  }
  
  @media (max-width: 576px) {
    .home {
      width: 100vw; /* Ajuste de largura para telas menores */
      padding: 0 10px; /* Adiciona padding para evitar overflow horizontal */
    }
  
    #cta {
      width: 100%; /* Garante que cada elemento ocupe 100% da largura da coluna */
      padding: 0; /* Remove qualquer padding lateral */
    }
  }
  
  @media (max-width: 400px) {
    .home {
      width: 100vw; /* Ajuste de largura para telas muito pequenas */
      padding: 0 10px; /* Adiciona padding para evitar overflow horizontal */
    }
  
    #cta{
      width: 100%; /* Garante que cada elemento ocupe 100% da largura da coluna */
      padding: 0; /* Remove qualquer padding lateral */
    }
  }
    
    @media (max-width: 400px) {
      .home {
        display: none; /* Esconde o elemento para telas muito pequenas */
      }
    }
