@import "../../../App.css";

.home {
    display: flex;
    position: relative;
    margin-top: 20px;
}


#cta {
    
    flex: 1; 
    margin-top: 20px;
    padding-right: 20px;
    text-align: center;
}

.title {
    font-size: 3.5rem; 
    color: var(--color-primary-6);
    margin-bottom: 50px; 
    text-align: center;
}

.title span {
    color: var(--color-primary-3);
}

.description {
    font-size: 1.5rem;
    color: var(--color-primary-6);
    line-height: 1.5; 
    margin-bottom: 40px;
}


.description span {
    
    color: var(--color-primary-3);
}
.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.btn_menu {
    display: inline-block; 
}





