.slider {
    margin: 0 auto;
    width: 700px;
    height: 700px;
    overflow: hidden;
    position: relative;
    border-radius: 10%;
}

.slides {
    display: flex;
    width: 100%; /* Mudança aqui: 400% para 4 imagens */
    height: 400px;
    transition: margin-left 0.5s ease-in-out;
}

input[type="radio"] {
    display: none;
}

.slide {
    width: 100%;
    flex-shrink: 0; /* Adicionado para garantir que os slides tenham tamanho fixo */
}

.slide img {
    width: 100%; /* Ajustado para 100% para responsividade */
    height: auto; /* Ajuste automático da altura para manter a proporção */
}

.manual_navigation {
    position: absolute;
    width: 100%; /* Mudança aqui: largura total para centralizar os botões */
    bottom: 10px; /* Mudança aqui: posicionamento do botão na parte inferior */
    display: flex;
    justify-content: center;
}

.manual_btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual_btn:not(:last-child) {
    margin-right: 10px;
}

.manual_btn:hover {
    background-color: #fff;
}

.radio1:checked ~ .slides {
    margin-left: 0;
}

.radio2:checked ~ .slides {
    margin-left: -100%;
}

.radio3:checked ~ .slides {
    margin-left: -200%;
}

.radio4:checked ~ .slides {
    margin-left: -300%;
}
@media (max-width: 600px) {
    .slider {
        max-width: 90%;
    }
}

@media (max-width: 400px) {
    .slider {
        max-width: 80%;
    }
}
    /* Define a altura do carrossel com base na altura da imagem mais alta */
    .slider {
        height: auto; /* Define a altura como automática */
    }
    
    .slides {
        max-height: 100%; /* Garante que o carrossel não ultrapasse a altura do contêiner pai */
    }
