.cart {
    width: 1200px;
    color: black;
    padding: 10px;
}

.cart_items {
    display: grid;
    grid-template-columns: 50% 1fr;
    align-items: center;
}

.cart_item {
    display: flex;
    margin: 5px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    
}

.cart_item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.cart_item_details {
    display: flex;
    flex-grow: 1;
}
.cart_item_details_buttons{
    margin-top: 90px;
}

.cart_summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.checkout_button {
      background-color: var(--color-primary-6);
    color: var(--color-primary-1);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.checkout_button:hover {
    background-color: var(--color-primary-5);    
}

.order_button {
    background-color: var(--color-primary-6);
    color: var(--color-primary-1);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.order_button:hover {
    background-color: var(--color-primary-5);
}
.btn_quantity{
    background-color: var(--color-primary-6);
    color: var(--color-primary-1);
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn_quantity:hover {
    background-color: var(--color-primary-5);
}